<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="blogs content">
    <h2>All Parks</h2>

 

    <% if (parks.length > 0) { %>
      <% parks.forEach(park => { %>

        <a class="single" href="/parks/<%= park._id %>">
          <h3 class="title"><%= park.title %></h3>
          <p class="snippet"><%= park.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no parks to display...</p>
    <% } %>
    <% if (nextPage !== null) { %>
      <a href="/parks?page=<%= nextPage %>" class="pagination">View More Parks ></a>
    <% } %>
    <div id="dogImageContainer">
      <img src="<%= dogPictureUrl %>" alt="Random Dog">
    </div>

    
    <%- include("./partials/footer.ejs") %>
</body>
</html>